@import "../../../theme";

.log-container {
  position: relative;
  height: 100%;
  $log-padding: 1em;

  .stick-to-bottom-button {
    position: absolute;
    top: $log-padding;
    right: calc(#{$log-padding} + 10px);
    margin: 0;
    padding: 0;
    background-color: resolve-color('secondary');
    opacity: 0.6;
    appearance: none;
    $size: 60px;
    width: $size;
    height: $size;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    &:hover {
      opacity: 1;
    }
  }

  pre {
    background-color: resolve-color('primary');
    color: resolve-font-color('contrast');
    counter-reset: line;
    padding: $log-padding;
    white-space: pre-wrap;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    height: 100%;
    margin: 0;
    overflow: auto;
    position: relative;

    p {
      margin: 0;
    }
  }
}

