@import "../../../theme";

.button {
  background-color: resolve-color('primary');
  color: resolve-font-color('contrast');
  appearance: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0.5em 1em;
  border-radius: 5px;

  img {
    margin-right: 0.5em;
  }
}
