$primary-color: #012456;
$primary-font-color: #2C2C2C;
$secondary-color: orange;
$contrast-font-color: white;
$background-color: white;

@function resolve-color($name) {
  @if($name == 'primary') {
    @return $primary-color;
  }

  @if($name == 'secondary') {
    @return $secondary-color;
  }
}

@function resolve-font-color($name) {
  @if($name == 'primary') {
    @return $primary-font-color;
  }

  @if($name == 'contrast') {
    @return $contrast-font-color;
  }
}
