.home-container {
  display: flex;
  padding: 2vh 2vw;
  height: 100vh;

  .logs-container {
    flex: 1 1 100%;
    height: 100%;
  }

  .control-panel {
    position: sticky;
    top: 0;
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;

    .progress-bar {
      flex: 1 1 auto;
    }
  }
}
