@import "../../../../theme";

.step-container {
  display: inline-block;
  width: 200px;
  height: auto;
  text-decoration: none;
  color: resolve-font-color('primary');
  font-weight: bold;
  border-radius: 8px;
  padding: 0.5em 1em;
  margin-right: 2em;

  &:hover {
    border: 4px solid resolve-color('secondary');
  }

  @include bg-color-by-status;

  .step-name {

  }
}

.selected-step {
  border: 4px solid resolve-color('primary');
}
