@import "../../../../theme";

.step-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  $size: 6em;
  width: $size;
  height: $size;
  border-radius: 50%;
  text-decoration: none;

  &:hover {
    border: 4px solid resolve-color('secondary');
  }

  @include bg-color-by-status;

  .step-name {
    color: resolve-font-color('primary');
    font-weight: bold;
  }
}

.selected-step {
  border: 4px solid resolve-color('primary');
}
